<form method="post" action="/transactions/<%= @transaction.id %>">
<label for="amount-field">Amount:</label>
<input
type="text"
name="amount"
id="amount-field"
value="<%= @transaction.amount %>"
/>

<label for="merchant_select">Select new merchant:</label>
      <select name="merchant_id" id="merchant_select" selected="<%= @transaction.merchant_id  %>">
        <% @merchants.each do |merchant| %>
          <% if merchant.id == @transaction.merchant_id %>
            <option value=<%= merchant.id %> selected><%= merchant.name %></option>
          <% else %>
            <option value=<%= merchant.id %>><%= merchant.name %></option>
          <% end %>
        <% end %>
      </select>

<label for="tag-field">Tag:</label>
<input
type="text"
name="tag.name"
id="tag-field"
value="<%= @transaction.tag.name %>"
/>

<input type='submit' value="Edit Transaction">
</form>
