<h3>Transactions</h3>


<h2>TOTAL SPENT: <%= @total%> </h2>   

  <form method="post" action="/transactions">
    <label for="amount-field">Amount:</label>
    <input
    type="text"
    name="amount"
    id="amount-field"
    />

    <label>
    Select a merchant:
      <select name="merchant_id">
        <% for merchant in @merchants %>
        <option value="<%= merchant.id %>"><%= merchant.name %></option>
        <% end %>
      </select>
    </label>

    <label>
    Select a tag:
      <select name="tag_id">
        <% for tag in @tags %>
        <option value="<%= tag.id %>"><%= tag.name %></option>
        <% end %>
      </select>
    </label>
    <input type="submit" value="Add new transaction">
  </form>
<br>
<br>
<br>



<% @transactions.each do |transaction| %>
  <table>
    <tr>
      <th>Amount</th>
      <th>Merchant</th>
      <th>Tag</th>
    </tr>
    <tr>
      <td><%= transaction.amount %></td>
      <td><%= transaction.merchant.name %></td>
      <td><%= transaction.tag.name %></td>
      <td><form action="/transactions/<%= transaction.id %>/delete" method="POST">
            <input class="button" type="submit" value="delete" />
          </form>
      </td>
      <td><form action="/transactions/<%= transaction.id %>/edit" method="GET">
            <input class="button" type="submit" value="edit" />
          </form>
      </td>
    </tr>
  </table>
  <% end %>
