<h3>Transactions</h3>

  <form method="post" action="/transactions">
    <label for="amount-field">Amount:</label>
    <input
    type="text"
    name="amount"
    id="amount-field"
    />

    <label>
    Select a merchant:
      <select name="merchant_id">
        <% for merchant in @merchants %>
        <option value="<%= merchant.id %>"><%= merchant.name %></option>
        <% end %>
      </select>
    </label>

    <label>
    Select a tag:
      <select name="tag_id">
        <% for tag in @tags %>
        <option value="<%= tag.id %>"><%= tag.name %></option>
        <% end %>
      </select>
    </label>


    <input type="submit" value="Add new transaction">
  </form>
<br>
<br>
<br>


  <% @transactions.each do |transaction| %>

<ul class="transactions">
  <li class="transactions">Amount: £<%= transaction.amount %></li>
  <li class="transactions">Merchant: <%= transaction.merchant.name %></li>
  <li class="transactions">Tag: <%= transaction.tag.name %></li>
</ul>

<form action="/transactions/<%= transaction.id %>/delete" method="POST">
  <input class="button" type="submit" value="delete" />
</form>
<form action="/transactions/<%= transaction.id %>/edit" method="GET">
  <input class="button" type="submit" value="edit" />
</form>
  <% end %>
