<h1>Transactions</h1>

  <% @transactions.each do |transaction| %>

<ul>
  <li>Amount: <%= transaction.amount %></li>
  <li>Merchant: <%= transaction.merchant %></li>
  <li>Tag: <%= transaction.tag %></li>
</ul>

<form action="/transactions/<%= transaction.id %>/delete" method="POST">
  <input class="button" type="submit" value="delete" />
</form>

<form action="/transactions/<%= transaction.id %>/edit" method="GET">
  <input class="button" type="submit" value="edit" />
</form>


  <% end %>
